body {
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.main {
	width: 100%;
}

#segments_list {
	display: block;
	position: relative;
	height: 500px;
	width: 90%;
	margin: auto;
	overflow-y: auto;
	list-style-type: none;
  	padding: 0;
  	overflow-x: hidden;
}


#search_segment {
	display: block;
	position: relative;
	background-image: url('/css/searchicon.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 80%;
	margin: auto;
	font-size: 16px;
	padding: 12px 20px 12px 40px; 
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

.header {
	display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;

	position: relative;
	width: 80%;
	margin: auto;
	padding: 0;
}
.header li {
	display: inline-block;
	margin: 0 5% 0 5%;
}

div.segment_name {
	display: inline-block;
	width: 200px;
}
#segments_list li  {
	display: flex;
    justify-content: space-between;

	border: 1px solid #ddd;
	margin-top: -1px;
	/*  background-color: #f6f6f6;*/
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
}
#segments_list li input {
	display: inline-block;
}

#segments_list li input.min_koef, #segments_list li input.min_block {
	height: 30px;
	text-align: center;
	padding: auto;
	min-width: 60px;
	margin: 0 5px 0 5px;
}

#buttons {
	display: flex;
    justify-content: space-between;

	position: relative;
	margin: auto;
	margin-top: 30px;
	width: 400px;
}

button {
/*	background-color: lightgreen;*/
	display: inline-block;
	width: 100px;
	height: 50px;
/*	margin: auto;*/
/*	margin-top: 20px;*/
	cursor: pointer;
	border-radius: 10px;
}

button#save_settings {
	background-color: green;
}

button#add_segments {
	background-color: lightgreen;
}

button#remove_segments {
	background-color: lightpink;
}